<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    
</head>
<body>
    
   
      <app-insert></app-insert>
      <br><br>
      <hr>
      <app-update></app-update>
      <br><br>
      <hr>
      <app-delete></app-delete>
      <br><br>
      <hr>
      <app-view></app-view>
      <br>    
      <br>    
      <br>    
      <br>    
      <br>    
      <br>    
      <br>    
      <br>    
      <br>    
      <br>    
      <br>    
</body>
</html>