body{
    margin: 40px;
    height: 100%;
}

.col-md-8
{
    margin-right: 205px;
    float: right;
}
.bg-primary
{
    background-color: #f60b0b!important;
}

#delete
{
    height: 1000 px;  
    color: #fff;
    background-image: url('../../assets/img1.jpg') !important;  
    background-size: 130% ;  
    background-size:cover;
}
.btn
{
    margin-right: 48px;

}
.form-control
{
    padding: 23px 18px;
    background-color: #18e6ea;
}