<div class="body" align="center">
    <h3> Data</h3>
    <br>
    
             <table border="2">
                         <thead>           
                                <tr>
                                <th>Acc No </th>
                                <th>Name</th>
                                <th>balance </th>
                                
                              </tr>
                              
                         </thead>
                         <tbody>
                         
                              <tr *ngFor="let d of data">
                                    <td> {{d.accno}} </td>
                                    <td> {{d.owner}} </td>
                                    <td> {{d.balance}} </td>
                                    
                              </tr>
                         
                        </tbody>
             </table>
    </div>

