table
{
    border-spacing: 10px;
    width: 60%;
    border-collapse: collapse;
}
body{
    margin-bottom: 100px;
    background-color: rgb(8, 134, 244) !important;
    font-size: 40px;
    height: 300% !important;
}
h3{
    font-size: 40px;
    color: rgb(35, 11, 248);
}
th
{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
}