.container1 h2{

    margin:150px 401px 300px 0px !important;
    float:right;
    font-size: xx-large;
    font-style: italic;
}
.s1
{
    width: 200%;
    margin-left: -200px;
}
.container2
{
    margin-top: 35px;
    border: 6px solid rgb(229 199 7 / 97%);
    padding: 34px;
}